@let edit = false;
<form [formGroup]="MeasureForm" (ngSubmit)="onSubmit()" >
  <fieldset>
    <legend class="List-title"> {{ edit ? 'Actualizar una Medida' : 'Crear una Medida' }}</legend>
    @if(MeasureForm.invalid && MeasureForm.dirty){
      <div class="invalid">
        @if (MeasureForm.get('name')?.invalid){
          <p>Debe escribir el nombre.</p>
        }
        @if (MeasureForm.get('abbreviation')?.invalid){
          <p>Debe escribir la abreviación.</p>
        }
      </div>
    }
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" formControlName="name">
    <label for="name">Abreviación:</label>
    <input type="text" name="name" id="name" formControlName="abbreviation">
  </fieldset>
  <fieldset class="Botones">
    <button type="reset" (click)="resetForm($event)">Limpiar</button>

    <button type="submit" [disabled]="!MeasureForm.valid" [class.disactive]="!MeasureForm.valid">
      @if (edit) {
        Actualizar
      }@else {
        Guardar
      }
    </button>
  </fieldset>
</form>

