@let employee = this.employee();
<div class="Details">
  <h3 class="Details-title">Detalle del empleado</h3>
  <p>Nombre completo: {{employee.person.last_name}} {{employee.person.name}}  </p>
  <p>Número de contacto: {{employee.person.phone_number}}</p>
  <p>Dirección: {{employee.person.address}}</p>
  <p>Correo electrónico: {{employee.person.mail}}</p>
  <p>DNI: {{employee.person.dni}}</p>
  <p>CUIT: {{employee.person.cuit}}</p>
  <p>Fecha de ingreso: {{employee.start_date | date}}</p>
  <p>Fecha de egreso: {{employee.end_date  | date}}</p>
  <p>Salario: {{employee.salary | currency}}</p>
  <p>Activo: {{employee.is_active ? 'Sí' : 'No'}}</p>
  <p>Balance: {{employee.balance | currency}}</p>
</div>
