
@let materials = this.materialResource.value()?.data!.results;
@let materialsPagination = this.materialResource.value()?.data!.pagination;
<div class="JoinContainer">

<app-item-form
  class="ItemForm"
  [initialItem]="selectedItem()"
  (finalItem)="toMaterial($event)"
/>

@if(showList()){
  @if (!this.materialResource.isLoading()) {
    <app-material-list
      class="MaterialList"
      [data]="materials"
      [option]="true"
      (selectedMaterial)="selectMaterial($event)"
      [pagination]="materialsPagination"
      (pageChange)="this.materialPage.set($event)"

    />
  }
}

</div>
