.JoinContainer{
  display: grid;
  grid-template-columns: repeat(2, 20dvw);
  gap: 1rem;
  min-height: 76vh;

  .ItemForm{
    grid-column-start: 1;
  }
  .MaterialList{
    grid-column-start: 2;
  }
}

