
@let materials = this.materialResource.value()?.data!.results;
@let materialsPagination = this.materialResource.value()?.data!.pagination;
<div class="JoinContainer">

<app-item-form
  [initialItem]="selectedItem()"
  (finalItem)="toMaterial($event)"
/>
<div class="Buttons">
  <button type="button" (click)="toggleShow()">
    @if (showList()) {
      Ocultar lista de materiales
    } @else {
      Mostrar lista de materiales
    }
  </button>
  <button type="reset" (click)="reset()">Limpiar enlaces</button>
</div>
@if(showList()){
  @if (!this.materialResource.isLoading()) {
    <app-material-list
      [data]="materials"
      [option]="true"
      (selectedMaterial)="selectMaterial($event)"
      [pagination]="materialsPagination"
      (pageChange)="this.materialPage.set($event)"

    />
  }
}

</div>
