@use '../../../styles.scss' as core;
button {
  border: none;
}
@mixin button {
  background-color: core.$cerezo;
  color: core.$blanquecino;
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  font-family: core.$fontOtro;
}


.disactive{
  color: core.$gris;
  background-color: core.$nogal;
}
.container{
  @include core.flex-row;
  width: 100%;
}
.Form-actions button,
.Boton1 {
  @include button;
}

.Boton1 {
  margin: 5px 0;
  width: 100%;
}

.Botones button:hover,
.Boton1:hover {
  box-shadow: 5px 5px 5px core.$nogal;
}

.Botones button:active,
.Boton1:active {
  box-shadow: inset 2px 2px 2px core.$blanquecino;
}
button:disabled{

  color: core.$gris;
  background-color: core.$nogal;

}
