@forward '../../../styles.scss';
@use '../../../styles.scss' as core;
body{
  background-color: black;
}
section{
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  overflow-y: auto;
}
article{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
