@use '../../../styles.scss' as core;

.List {
  @include core.flex-comlumn;
  background-color: core.$gris;
  padding: 1em;
  border-radius: 10px 10px;
  overflow: hidden;
  overflow-y: visible;
  height: 80vh;
  width: 24vw;

  .List-title {
    text-decoration: underline;
    font-family: core.$fontTitulo;
    margin-bottom: 6px;
  }
  .Message{
    background-color: core.$cerezo;
    border-radius: 10px 10px 0 30px;
    padding: 10px;
    color: core.$blanquecino;
    font-family: core.$fontOtro;
  }
}


@media only screen and (max-width: 950px) {
  .List{
    margin-bottom: 1rem;
    border-radius: 5%;
    min-width: 50vh;
    max-width: 40vw;
  }
}

@media only screen and (max-width: 480px) {

  .List{
    max-width: 80vw;
  }

}

