@use '../../../styles.scss' as core;
.Searcher {
  border-radius: 15px;
  background-color: core.$nogal;
  padding: 1em;
  color: core.$blanquecino;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid core.$negro;

  input[type="text"] {
    background: none;
    border: none;
    width: 90%;
    padding: 4px;
    color: core.$blanquecino;
    font-size: 1.2em;
    text-decoration: none;
    &:focus {
      border: none;
      border-bottom: 1px solid core.$blanquecino;
      outline: none;
      padding: 4px;
      color: core.$blanquecino;
    }
    &::placeholder {
      color: core.$blanquecino;
      opacity: 0.7;
    }
  }

  img{
    &:hover {
      filter: invert(1);
    }
  }






}


