@let budget = this.budgetResource.value()!.data!;
@let currentWork = this.currentWorkResource.value()!.data!;
@if (budget){

<section>
  <article>
    <app-budget
      [budget]="budget"
    />
    @if (currentWork) {
      <app-work
        [work]="currentWork"
      />
    }

    <app-client
      [client]="budget.owner!"
      routerLink="/client/detail/{{ budget.owner?.id }}"
    />
  </article>
  <app-work-list
    [works]="budget.works!"
    [budgetId]="budget.id!"
  />
  @if(currentWork){
    <app-item-list
      [items]="currentWork.materials"

    />
  }@else{
    <p>Seleccione un trabajo por favor</p>
  }


</section>
}
