@let personData = this.data;

<div class="List">
  <h3 class="List-title">Listado de {{ entity() }}s</h3>
  <app-searcher-component/>

<!--  @for (client of clients | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {-->
    @for (data of personData(); track data.id) {
      <app-person-card-component
        [person]="data"
        [entity]="entity()"
      />
    }
    @empty {
<!--      <app-text-card [message]="'No hay clientes que mostrar.'"/>-->
    }


<!--  <pagination-controls-->
<!--    previousLabel="Anterior"-->
<!--    nextLabel="Siguiente"-->
<!--    (pageChange)="pageChange($event)"-->
<!--  />-->

<!--  @if(options){-->
<!--    <button class="Boton1" (click)="addClientHandler()">Agregar cliente</button>-->
<!--  }-->
</div>
