@use "../../../core/styles/form";
@use "../../../core/styles/buttons";
@use "../../../core/styles/advancedForm";

.Material-list{
  grid-column: 2/-1;
  grid-row: 3/4;
  height: 60dvh;
  overflow-y: scroll;
}
