@let edit = isEdit();
<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <fieldset>

    @if (paymentForm.invalid && paymentForm.dirty) {
      <div class="invalid">

        @if (paymentForm.get('fecha')?.invalid) {
          <p>La fecha es obligatoria.</p>
        }

        @if (paymentForm.get('monto')?.invalid) {
          <p>El monto es obligatorio.</p>
        }

        @if(paymentForm.get('Descripcion')?.invalid ){
          <p>La descripcion es obligatoria.</p>
        }

      </div>
    }

    <legend class="List-title">
      @if (edit) {
        Actualizar pago
      }@else {
        Cargar pago nuevo
      }
    </legend>
    @if (!edit) {
      <label for="payable">Pagar {{payable()}}:</label>
      <input type="text" name="payable" id="payable" [value]="ownable().description || 'Seleccione un '+ payable()" readonly>
    }
    <label for="fecha">Fecha:</label>
    <input type="datetime-local" name="fecha" id="fecha" placeholder="fecha..." formControlName="date">
    <label for="monto">Monto:</label>
    <input type="number" name="monto" id="monto" placeholder="monto..." formControlName="amount">
    <label for="Descripcion">Descripción:</label>
    <textarea name="Descripcion" id="Descripcion" placeholder="Descripcion..." formControlName="description"></textarea>
  </fieldset>
  <fieldset class="Form-actions">
    <button type="reset" (click)="resetForm($event)">Limpiar</button>

    <button type="submit" [disabled]="!canSubmit" [class.disactive]="!canSubmit">
      @if (edit) {
        Actualizar
      }@else {
        Guardar
      }
    </button>
    @if(edit) {
      <button
        type="button"
        class="delete"
        (click)="onDelete()"
      >
        Eliminar
      </button>
    }


  </fieldset>
</form>
