@let data = this.workList();
<div class="List">
  <h3 class="List-title">Listado de trabajos</h3>
  @if(option()){
    <button
      class="Boton1"
      [routerLink]="`/work/new/${budgetId()}`"
    >
      Agregar trabajo
    </button>
  } @else {
    <app-work-search
      (results)="handleResults($event)"
    />
  }
  <div class="List-card-container">
    @for (work of data ; track work.id) {
      <app-work-card
        [work]="work"
        [budgetId]="budgetId()"
        (click)="this.selected.emit(work.budget!)"
      />
    }
  </div>

  @if (pagination() != undefined) {
    <app-pagination-buttons
      [pagination]="pagination()!"
      (pageChange)="this.changePage.emit($event)"
    />

  }



</div>
