@let edit  = isEditing();
  <form [formGroup]="MaterialForm" (ngSubmit)="onSubmit()" >

      @if(MaterialForm.invalid && MaterialForm.dirty){
        <div class="invalid">
          @if (MaterialForm.get('name')?.invalid){
            <p>Debe escribir el nombre.</p>
          }
          @if (MaterialForm.get('description')?.invalid){
            <p>Debe escribir una descripción.</p>
          }
          @if (MaterialForm.get('measure')?.invalid){
            <p>Debe seleccionar una medida.</p>
          }
          @if (MaterialForm.get('subCategory')?.invalid){
            <p>Debe seleccionar un subrubro.</p>
          }
        </div>
      }

    <fieldset>
      <legend class="List-title"> {{ edit ? 'Actualizar un material' : 'Crear un material' }}</legend>


      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" formControlName="name">
      <label for="description">Descripción:</label>
      <textarea name="description" id="description" formControlName="description"></textarea>
      <label for="brand">Marca:</label>
      <input type="text" name="brand" id="brand" formControlName="brand">
      <label for="color">Color:</label>
      <input type="text" name="color" id="color" formControlName="color">
      <label for="measure">Medida:</label>
      <input type="text" name="measure" id="measure" formControlName="unitMeasure">


      <label for="unitMeasure">Unidad de medida:</label>
      <input type="text" name="unitMeasure" id="unitMeasure" readonly
             [value]="this.selectedMeasure()!.name">

      <label for="subCategory">Sub rubro</label>
      <input type="text" name="subCategory" id="subCategory" readonly
             [value]="this.selectedSubcategory()!.name"
      >
      @if (edit){
        <label for="category">Unidad de medida actual:</label>
        <input type="text" name="unitMeasure" id="unitMeasure" readonly
               [value]="this.materialResource.value()!.data!.measure.name"
        >

        <label for="category">Sub Rubro actual:</label>
        <input type="text" name="subCategory" id="subCategory" readonly
               [value]="this.materialResource.value()!.data!.subcategory.name"
        >
      }

    </fieldset>
    <fieldset class="Form-actions">
      <button
        type="reset"
        (click)="setUp()"
      >
        Limpiar
      </button>

      <button
        type="submit"
      >
        @if (edit) {
          Actualizar
        }@else {
          Guardar
        }
      </button>
      @if(edit) {
        <button
          type="button"
          class="delete"
          (click)="onDelete()"
        >
          Eliminar
        </button>
      }

    </fieldset>
  </form>




