@let showMaterialForm = this.showMaterialForm();
@let showCategoryForm = this.showCategoryForm();
@let showSubcategoryForm = this.showSubcategoryForm();
@let showMeasureForm = this.showMeasureForm();
@if(!this.subcategoryResource.isLoading() && !this.categoryResource.isLoading() && !this.measureResource.isLoading()) {
  @let subcategoryList = this.subcategoryResource.value()!.data!.results;
  @let subcategoryPagination = this.subcategoryResource.value()!.data!.pagination;
  @let categoryList = this.categoryResource.value()!.data!.results;
  @let categoryPagination = this.categoryResource.value()!.data!.pagination;
  @let measureList = this.measureResource.value()!.data!.results;
  @let measurePagination = this.measureResource.value()!.data!.pagination;
<section>
  <article>
    <ul>
      <li (click)="this.openForm.set('material')">
        @if (showMaterialForm) {
          Cerrar formulario de Materiales
        }@else{
          Abrir formulario de Materiales
        }
      </li>
      <li (click)="this.openForm.set('category')">
        @if (showCategoryForm) {
          Cerrar formulario de Rubros
        }@else{
          Abrir formulario de Rubros
        }
      </li>
      <li (click)="this.openForm.set('subcategory')">
        @if (showSubcategoryForm) {
          Cerrar formulario de Sub-Rubros
        }@else{
          Abrir formulario de Sub-Rubros
        }
      </li>
      <li (click)="this.openForm.set('measure')">
        @if (showMeasureForm) {
          Cerrar formulario de Medidas
        }@else{
          Abrir formulario de Medidas
        }
      </li>
    </ul>
  </article>
  <article>
    @if (showMaterialForm) {
      <div>
        <app-material-form
          [selectedMeasure]="this.selectedMeasure()!"
          [selectedSubcategory]="this.selectedSubcategory()!"
        />
        <app-subcategory-list
          [data]="subcategoryList"
          [option]="true"
          [pagination]="subcategoryPagination"
          (pageChange)="this.subcategoryPage.set($event)"
          (selectedSubcategory)="this.selectedSubcategory.set($event)"
        />
        <app-measure-list
          [data]="measureList"
          [option]="true"
          [pagination]="measurePagination"
          (pageChange)="this.measurePage.set($event)"
          (selectedMeasure)="this.selectedMeasure.set($event)"
        />
      </div>
    }
    @if (showCategoryForm)
    {
      <div>
        <app-category-form/>
      </div>
    }
    @if (showSubcategoryForm) {
      <div>
        <app-subcategory-form
          [selectedCategory]="this.selectedCategory()"
        />
        <app-category-list
          [data]="categoryList"
          [option]="true"
          [pagination]="categoryPagination"
          (pageChange)="this.categoryPage.set($event)"
          (selectedCategory)="this.selectedCategory.set($event)"
        />
      </div>
    }
    @if (showMeasureForm) {
      <div>
        <app-measure-form/>
      </div>
    }
  </article>
</section>
}
