@let edit = this.isEditing();
  <form [formGroup]="CategoryForm" (ngSubmit)="onSubmit()" >
    <fieldset>
      <legend class="List-title"> {{ edit ? 'Actualizar un Rubro' : 'Crear un Rubro' }}</legend>
      @if(CategoryForm.invalid && CategoryForm.dirty){
        <div class="invalid">
          @if (CategoryForm.get('name')?.invalid){
            <p>Debe escribir el nombre.</p>
          }
        </div>
      }
      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" formControlName="name">
    </fieldset>
    <fieldset class="Form-actions">
      <button
        type="reset"
        (click)="setUp()"
      >
        Limpiar
      </button>

      <button
        type="submit"
      >
        @if (edit) {
          Actualizar
        }@else {
          Guardar
        }
      </button>
      @if(edit) {
        <button
          type="button"
          class="delete"
          (click)="onDelete()"
        >
          Eliminar
        </button>
      }

    </fieldset>
  </form>

