@use '../.././../../core/styles/layout';
div{
  @include layout.flex-row;
  gap:18px;
  width: 80dvw;
  overflow-x: auto;
}
section {
  display: grid;
  grid-template-columns: 20dvw 1fr;
  height: 85dvh;
  justify-content: flex-start;
}

.Options{
  align-self: start;
  font-family: layout.$fontOtro;
  font-size: larger;

  ul{
    @include layout.flex-comlumn;
    gap:8px;
    li{
      border-radius: 6px;
      padding: 6px;
      background-color: layout.$abedul;
    }

  }
}

