@let data = this.budgetsResource.value()?.data!;
@let clients = this.clientsResource.value()?.data!;
<section>
  @if(!this.budgetsResource.isLoading() && !this.budgetsResource.error()){

    <app-ownable-list-component
      [data] = data
      entity="presupuesto"
      route="budget"
    />
    <app-person-list-component
      [data] = clients
      entity="cliente"
      route="client"
      action="budget"
    />

    <app-budget-form-component
      [clientId]="clientId()"
    />


  }
</section>

