<section>
  <div class="Menu">
    <h2>Menú</h2>
    <div class="Botones">
      <button routerLink="/budget">Presupuestar</button>
      <button routerLink="/work">Ver trabajos</button>
      <button routerLink="/client">Ver clientes</button>
      <button routerLink="/material">Ver materiales</button>
      <button routerLink="/supplier">Ver proveedores</button>
      <!--<button routerLink="/employee">Ver empleados</button>
      <button routerLink="/cost">Ver costos</button>
      <button routerLink="/help">Ayuda</button>-->
      <button routerLink="/about">Acerca de</button>
    </div>
  </div>
  <div>
    <img ngSrc="./home.png" alt="Img de relleno" height="725" width="736">
  </div>
</section>

