@let personData = personList();
@let pagination = paginationData();
<div class="List">
  <h3 class="List-title">Listado de {{ entity() }}s</h3>
  <app-searcher-component
    [entity]="entity()"
    [route]="route()"
    (results)="handleResults($event)"
  />

  @for (person of personData; track person.id) {
    <app-person-card-component
      [person]="person"
      [entity]="entity()"
      [route]="route()"
      [action]="action()"
    />
  }

  @if(option()){
    <button
      class="Boton1"
      [routerLink]="`/${route()}`"
    >
      Agregar {{ entity() }}
    </button>
  }
  <app-pagination-buttons
    [pagination]="pagination"
    (pageChange)="this.changePage.emit($event)"
  />
</div>

