@let work = this.work();

<div class="Card">
  <div class="Card-Details">
    <p>{{work.state}}</p>
    <p>Nombre: {{work.name}}</p>
    <p>Costo: {{work.cost | currency}}</p>
    <p>Fecha : {{work.dead_line | date:'dd/MM/yyyy'}}</p>
  </div>
  <div class="Card-Options">
    <app-card-button
      [text]="'Ver detalles'"
      [icon]="'info'"
      [link]="`/budget/detail/${budgetId()}/${work.id}`"
    />
    <app-card-button
      [text]="'Editar'"
      [icon]="'edit'"
      [link]="`/work/edit/${budgetId()}/${work.id}`"
    />
  </div>
</div>

