@let paymentsData = data();
@let paginationData = pagination();
<div class="List">
  <h3 class="List-title">Listado de pagos</h3>
  <div class="List-card-container">
    @for (payment of paymentsData; track payment.id) {
      <app-payment-card
        (click)="this.selectedPayment.emit(payment)"
        [payment]="payment"
      />
    } @empty {
      No hay pagos registrados.
    }
  </div>
  @if (pagination().links.next || pagination().links.previous) {
    <app-pagination-buttons
      [pagination]="paginationData"
      (pageChange)="this.pageChange.emit($event)"
    />
  }
</div>
