@let edit = this.isEdit();
@let client = this.clientResource.value()?.data;
@let clientId = this.clientResource.value()?.data?.id;
@let states = this.statesResource.value()?.data!.state;

<form [formGroup]="BudgetForm" (ngSubmit)="onSubmit()" >
  <fieldset>

    @if(BudgetForm.invalid && BudgetForm.dirty){
      <div class="invalid">
        @if (BudgetForm.get('createdDate')?.invalid){
          <p>Debe seleccionar una fecha de confección.</p>
        }
        @if (BudgetForm.get('description')?.invalid){
          <p>Debe redactar una breve descripción del presupuesto.</p>
        }
      </div>
    }
    <legend class="List-title"> {{ edit ? 'Actualizar un presupuesto' : 'Crear un presupuesto' }}</legend>
    <label for="client">Cliente:</label>
    @if (clientId !== undefined){
      <input type="text" id="client" name="client" [value]="client!.person.last_name + ' ' + client!.person.name " readonly>
    }@else{
      <input type="text" id="client" value="No hay cliente seleccionado" readonly>
    }
    <label for="description">Descripción:</label>
    <textarea name="description" id="description" formControlName="description"></textarea>
    <label for="profit">Ganancia:</label>
    <input type="number" name="profit" id="profit" formControlName="profit" min="0" step="any">
    <label for="createdDate">Fecha elaboración:</label>
    <input type="date" name="createdDate" id="createdDate" formControlName="createdDate">
    <label for="deadLine">Fecha limite:</label>
    <input type="date" name="createdDate" id="createdDate" formControlName="deadLine">

    @if (edit){
      <label for="state">Estado:</label>

      <select formControlName="state">
              @for (option of states; track $index) {
                <option [value]="option">{{option}}</option>
              }
      </select>
    }


  </fieldset>
  <fieldset class="Form-actions">
    <button type="reset" (click)="resetForm($event)" [routerLink]="'/budget'">Limpiar</button>

    <button type="submit" [disabled]="!BudgetForm.valid" [class.disactive]="!BudgetForm.valid">
      @if (edit) {
        Actualizar
      }@else {
        Guardar
      }
    </button>
    @if(isEdit()) {
      <button
        type="button"
        class="delete"
        (click)="onDelete()"
      >
        Eliminar
      </button>
    }
  </fieldset>
</form>



