@let data = this.budgetsResource.value()?.data!;
@let data2 = this.clientsResource.value()?.data!;

<section>
  @if (budgetsResource.hasValue()) {
    <app-ownable-list
      [data] = data
      entity="presupuesto"
      route="budget"
      [option]="false"
    />
  }
  @if (clientsResource.hasValue()){
    <app-person-list-component
      [data] = data2
      entity="cliente"
      route="client"
      action="budget"
      [option]="true"
    />

  }

  <app-budget-form
    [budgetId]="id()"
    [clientId]="clientId()"
    (submitted)="budgetsResource.reload()"
  />


</section>

