@let data = this.budgetsResource.value()?.data!.results;
@let pagination = this.budgetsResource.value()?.data!.pagination;
@let data2 = this.clientsResource.value()?.data!.results;
@let pagination2 = this.clientsResource.value()?.data!.pagination;
<section>
  @if (budgetsResource.hasValue()) {
    <app-ownable-list
      [data] = data
      entity="presupuesto"
      route="budget"
      [option]="false"
      [pagination]="pagination"
      (changePage)="this.budgetPage.set($event)"
    />
  }
  @if (clientsResource.hasValue()){
    <app-person-list
      [data] = data2
      entity="cliente"
      route="client"
      action="budget"
      [option]="true"
      [pagination]="pagination2"
      (changePage)="this.clientPage.set($event)"
    />

  }

  <app-budget-form
    [budgetId]="id()"
    [clientId]="clientId()"
    (submitted)="budgetsResource.reload()"
  />


</section>

