@let edit = this.isEditing();
  <form [formGroup]="SubCategoryForm" (ngSubmit)="onSubmit()" >
    <fieldset>
      <legend class="List-title"> {{ edit ? 'Actualizar un Sub-Rubro' : 'Crear un Sub-Rubro' }}</legend>
      @if(SubCategoryForm.invalid && SubCategoryForm.dirty){
        <div class="invalid">
          @if (SubCategoryForm.get('name')?.invalid){
            <p>Debe escribir el nombre.</p>
          }
        </div>
      }

      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" formControlName="name">
      <label for="category">Rubro:</label>
      <input
        type="text"
        name="category"
        id="category"
        readonly
        [value]="this.category().name">
    </fieldset>
    <fieldset class="Form-actions">
      <button
        type="reset"
        (click)="setUp()"
      >
        Limpiar
      </button>

      <button
        type="submit"
      >
        @if (edit) {
          Actualizar
        }@else {
          Guardar
        }
      </button>
      @if(edit) {
        <button
          type="button"
          class="delete"
          (click)="onDelete()"
        >
          Eliminar
        </button>
      }

    </fieldset>
  </form>





