@let dataList = ownableList();
<div class="List">
  <h3 class="List-title">Listado de {{ entity() }}s</h3>

  <app-ownable-searcher
    [entity]="entity()"
    [route]="route()"
    (results)="handleResults($event)"
  />
  @for (data of dataList; track data.id) {
    <app-ownable-card
      [thing]="data"
      [entity]="entity()"
      [route]="route()"
      (click)="this.selected.emit(data)"
    />
  }

  @if(option()){
    <button
      class="Boton1"
      [routerLink]="`/${route()}/new/${personId()}`"
    >
      Agregar {{ entity() }}
    </button>
  }
  @if (pagination() != undefined) {

    <app-pagination-buttons
      [pagination]="paginationData()"
      (pageChange)="this.changePage.emit($event)"
    />
  }
</div>
