<nav >
  <ul>
    @if(hide()){

      @if(session()){

        <li routerLink="/home">Menú</li>
        <li routerLinkActive="active" routerLink="/budget">Presupuestar</li>
        <li routerLinkActive="active" routerLink="/client">Clientes</li>
        <li routerLinkActive="active" routerLink="/work">Ver trabajos</li>
        <li routerLinkActive="active" routerLink="/material">Ver materiales</li>
        <li routerLinkActive="active" routerLink="/supplier">Ver proveedores</li>
        <li routerLinkActive="active" routerLink="/employee">Ver empleados</li>
        <li routerLinkActive="active" routerLink="/user" >Usuario</li>
        <li routerLinkActive="active" routerLink="/logout" >Cerrar sesión</li>
        <li (click)="toggleMenu()">Cerrar menú...</li>
      } @else {
        <li routerLinkActive="active" routerLink="/login" >Iniciar sesión</li>
      }
    }@else{
      <li (click)="toggleMenu()">Abrir menú...</li>
    }
  </ul>
  <app-navigation-buttons/>
</nav>

