<nav >
  <ul>
    @if(hide()){
      <li class="oculto" (click)="toggleMenu()">Abrir menú...</li>
      @if(session()){
      <li routerLink="/home" routerLinkActive="active">Menú</li>
      <li routerLink="/budget" routerLinkActive="active">Presupuestos</li>
      <li routerLink="/client" routerLinkActive="active">Clientes</li>
        <li routerLink="/user" routerLinkActive="active">Usuario</li>
        <li routerLink="/logout" routerLinkActive="active">Cerrar sesión</li>
      } @else {
        <li routerLink="/login" routerLinkActive="active">Iniciar sesión</li>
      }
    }@else{
      <li (click)="toggleMenu()">Abrir menú...</li>
    }
  </ul>
</nav>

