@use '../../../../styles.scss' as core;
@use '../../../core/styles/buttons';
nav{
  backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(core.$nogal, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(core.$nogal, 0.2);
  width: 20dvw;
  z-index: 300;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100dvh;
  overflow-x: auto;
  @include core.tablet(){
    width: 60dvw;
  }
  @include core.mobile(){
    width: 100dvw;
    height: 80vh;
  }
}
.hide{
  width: 10dvw;
  height: 15vh;
  @include core.tablet(){
    height: 20vh;
    width: 60dvw;
  }
  @include core.mobile(){
    width: 100dvw;
    height: 10dvh;
  }
  li{

    width: auto;
    justify-content: center;
  }
}
ul{
  @include core.flex-comlumn;
  list-style: none;
  height: auto;
  max-height: 100dvh;
  overflow-y: auto ;
  overflow-x: hidden;
  gap: 5px;
}
li{
  @include core.flex-row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin: 1em;
  padding: .3em;
  border-radius: 5px;
  background-color: core.$abedul;
  width: 90%;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: core.$fontOtro;
  font-size:large ;
}

li:hover{
  color: core.$nogal;
  background-color: core.$blanquecino;
}
.active{
  font-weight: bold;
  color: core.$cerezo;
  background-color: core.$gris;
}

.oculto{

  display: none;
}




