<nav [ngClass]="{'hide': !hide()}">
  <ul>
    @if(hide()){
      @if(session()){
        <li routerLink="/home">
          <img src="./icons/menu_icon.svg" alt="Inicio" width="20px" height="20px">
          Menú
        </li>
        <li routerLinkActive="active" routerLink="/budget">
          <img src="./icons/budget_icon.svg" alt="Presupuestar" width="20px" height="20px">
          Presupuestar
        </li>
        <li routerLinkActive="active" routerLink="/client">
          <img src="./icons/client_icon.svg" alt="Clientes" width="20px" height="20px">
          Clientes
        </li>
        <li routerLinkActive="active" routerLink="/work">
          <img src="./icons/work_icon.svg" alt="Trabajos" width="20px" height="20px">
          Trabajos
        </li>
        <li routerLinkActive="active" routerLink="/material">
          <img src="./icons/material_icon.svg" alt="Materiales" width="20px" height="20px">
          Materiales
        </li>
        <li routerLinkActive="active" routerLink="/supplier">
          <img src="./icons/supplier_icon.svg" alt="Proveedores" width="20px" height="20px">
          Proveedores
        </li>
        <li routerLinkActive="active" routerLink="/invoice">
          <img src="./icons/invoice_icon.svg" alt="Boletas" width="20px" height="20px">
          Boletas
        </li>
        <li routerLinkActive="active" routerLink="/employee">
          <img src="./icons/employee_icon.svg" alt="Empleados" width="20px" height="20px">
          Empleados
        </li>
        <li routerLinkActive="active" routerLink="/salary">
          <img src="./icons/salary_icon.svg" alt="Salarios" width="20px" height="20px">
          Salarios
        </li>
        <li routerLinkActive="active" routerLink="/payment">
          <img src="./icons/payment_icon.svg" alt="Pagos" width="20px" height="20px">
          Pagos
        </li>
        <li routerLinkActive="active" routerLink="/chat">
          <img src="./icons/ai_icon.svg" alt="Chat" width="20px" height="20px">
          Asistente
        </li>
        <li routerLinkActive="active" routerLink="/user" >
          <img src="./icons/user_icon.svg" alt="Usuario" width="20px" height="20px">
          Usuario
        </li>
        <li routerLinkActive="active" routerLink="/logout" >
          <img src="./icons/logout_icon.svg" alt="Cerrar sesión" width="20px" height="20px">
          Cerrar sesión
        </li>

      } @else {
        <li routerLinkActive="active" routerLink="/login" >
          <img src="./icons/login_icon.svg" alt="Iniciar sesión" width="20px" height="20px">
          Iniciar sesión
        </li>
      }
      <li (click)="toggleMenu()">
        <img src="./icons/menu_icon.svg" alt="Cerrar menú" width="20px" height="20px">
        Cerrar menú...
      </li>
    }@else{
      <li
        (click)="toggleMenu()"
      >
        <img src="./icons/menu_icon.svg" alt="Abrir menú" width="20px" height="20px">
      </li>
    }
  </ul>
  <app-navigation-buttons
  />
</nav>

