@forward "app/core/styles/variables";
@use "app/core/styles/variables" as var;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #543A14;

}
@mixin flex-comlumn {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin tablet {
  @media screen and (max-width: 1100px) {
    @content
  }
}
@mixin mobile{
  @media screen and (max-width: 520px) {
    @content
  }
}
main{
  @include flex-comlumn;
  width: 100dvw;
  height: 100dvh;
  @include mobile() {
    margin-bottom: 12dvh;
  }
}


.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.mat-mdc-snack-bar-action .mdc-button__label {
  cursor: pointer;
}
